{% extends "ledgerui/accounts_base_b5.html" %}

{% load static %}

{% block myaccount_nav %}

<button class="nav-link managed-account-nav" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>

{% endblock %}

{% block additional_content %}

<div id="nav-profile-tab-page" style="display:none;">
    <div id="app">
        <!-- Display a spinner while waiting for the component to load -->
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <strong>Loading</strong>
        </div>
    </div>
</div>


<link rel="stylesheet" href="{% static 'commercialoperator/css/base.css' %}?v={{build_tag}}">
<link rel="stylesheet" href="{% static 'commercialoperator_vue/css/app.css' %}?v={{build_tag}}">
<link rel="stylesheet" href="{% static 'commercialoperator_vue/css/chunk-vendors.css' %}?v={{build_tag}}">

<script type="text/javascript" src="{% static 'commercialoperator_vue/js/chunk-vendors.js' %}?v={{build_tag}}"></script>
<script type="text/javascript" src="{% static 'commercialoperator_vue/js/app.js' %}?v={{build_tag}}"></script>

{% endblock %}	