{% extends "ledgerui/organisation.html" %}

{% load static %}
{% load django_vite %}
{% block myorganisation_nav %}

<button class="nav-link managed-organisation-nav" id="nav-contacts-tab" data-bs-toggle="tab" data-bs-target="#nav-contacts" type="button" role="tab" aria-controls="nav-contacts" aria-selected="false">Contact Details</button>
<button class="nav-link managed-organisation-nav" id="nav-linkedusers-tab" data-bs-toggle="tab" data-bs-target="#nav-linkedusers" type="button" role="tab" aria-controls="nav-linkedusers" aria-selected="false">Linked User Accounts</button>
<button class="nav-link managed-organisation-nav" id="nav-organisation-tab" data-bs-toggle="tab" data-bs-target="#nav-organisation" type="button" role="tab" aria-controls="nav-organisation" aria-selected="false">Other</button>

{% endblock %}

{% block additional_content %}

<script>
    if (window.ledger_management_organisation && ledger_management_organisation.address) {
        ledger_management_organisation.address.get_data_loading = function () {
            var countriesReady =
                ledger_management_organisation.var.countries_status &&
                ledger_management_organisation.var.countries_status.completed === true;

            if (
                ledger_management_organisation.var.organisation_data_status.is_loading === false &&
                countriesReady
            ) {
                ledger_management_organisation.address.get_data();
            } else {
                setTimeout(ledger_management_organisation.address.get_data_loading, 200);
            }
        };
    }
</script>

<div id="app-details" style="display:none;"></div>

<div id="nav-contacts-tab-page" style="display:none;">
    <div id="contacts-teleport-target"></div>
</div>

<div id="nav-linkedusers-tab-page" style="display:none;">
    <div id="linkedusers-teleport-target"></div>
</div>

<div id="nav-organisation-tab-page" style="display:none;">
    <div id="app-other" data-org-id="{{ org_id }}">
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
            <strong>Loading</strong>
        </div>
    </div>
</div>

{% vite_asset vue3_entry_script app='default' %}

{% endblock %}